.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: #3b82f6;
}

.home h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.person-image {
    /* Ensure the image is visible */
    max-width: 300px;
    border-radius: 50%;
}